$khakigreen: #a7a37e;


body {
  margin: 0;
  padding: 0;
  background-color: #efecca;
}

a {
  text-decoration: none;
  font-family: 'Droid Serif', serif;
  color: black;
}



img {
  max-width: 100%;
}

.navBar {
  padding-top: 2em;
}

.navBar > li {
  display: inline;
  vertical-align: middle;
  text-align: left;
  list-style-type: none;
  font-family: 'Droid Serif', serif;
  padding-right: 2em;
}

.navBar > li > a:hover {
  background-color: $khakigreen;
  border-radius: 5%;
  opacity: 0.7;
  padding: 0.5em;
}

.navBar-narrow {
  background: linear-gradient(rgba(166, 177, 189,0.7),
  rgba(166, 177, 189,0.7)), url("Images/WorldMapBackground960x451.jpg");
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  padding: 2em 0.5em;
}

.navBar-narrow > li {
  display: inline;
  vertical-align: middle;
  text-align: left;
  list-style-type: none;
  font-family: 'Droid Serif', serif;
  padding-right: 2em;
}

.navBar-narrow > li > a:hover {
  background-color: $khakigreen;
  border-radius: 5%;
  opacity: 0.7;
  padding: 0.5em;
}


header#home {
  min-height: 320px;
  padding: 0px 1.25em;
  background: linear-gradient(rgba(166, 177, 189,0.7),
  rgba(166, 177, 189,0.7)), url("Images/WorldMapBackground960x451.jpg");
  background-size: cover;
  vertical-align: middle;
  text-align: center;
}

.titleSection {
  h1, h4 {
    display: block;
    text-align: center;
  }
  h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 3em;
    margin: 0 auto;
  }
  h4 {
    font-family: 'Droid Serif', serif;
    font-size: 1.125em;
    display: block;
    bottom-margin: 2%;
  }
}



/***** MAIN SECTION *******/

.mainContent {
  width: 100%;
  display: block;
  overflow: hidden;
}

.mainContentTitle {
  display: block;
  text-align: center;
}

.article {
  width: 40%;
  margin: 0% 2.5% 2% 2.5%;
  padding: 2.5% 2.5%;
  float: left;
  background-color: #c7d0d5;
  min-height: 115px;
  overflow: hidden;

  h4, h5 {
    text-align: center;
    margin: 0 auto;
    padding: 0% auto;
  }

  h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.25em;
  }
  h5 {
    font-family: 'Droid Serif', serif;
    font-size: 0.75em;
  }
  p {
    font-family: 'Droid Serif', serif;
    font-size: 1em;
  }

}


.article1Column {
  width: 80%;
  display: block;
  margin: 2.5% auto;
  padding: 2.5% 2.5%;
  background-color: #c7d0d5;
  min-height: 650px;
  overflow: hidden;

  p {
    font-family: 'Droid Serif', serif;
    font-size: 1em;
  }
}

.imageGallerylink {
  width: 90%;
  display: block;
  margin: 0 auto;

}



/*******FOOTER*******/

.footer {
  display: block;
  width: 100%;
  background-color: $khakigreen;

  div {
    display: inline;
    vertical-align: middle;
  }
}


#homeLink {
  font-family: 'Droid Serif', serif;
  color: black;
}

.sociallink > a {
  display: inline;
  position: relative;
  color: black;
}

.fa fa-facebook-square, .fa fa-pinterest-square {
  color:white;
  padding-left:0.5em;
  padding-right:0.5em;
}
